pipeline {
  agent any
  stages {
    stage('Say Hello') {
      steps {
        echo 'Hello Everybody!'   
        sh 'java -version'
      }
    }
  }
  options { 
    buildDiscarder(logRotator(numToKeepStr: '2'))
  }
}
